.diff.wrapper {
    height: 70vh;
}

textarea.transparent.fill {
    border: 0px;
    padding: 0px;
    margin: 0px;

    background-color: rgba(0,0,0,0);

    width: 100%;
    height: 100%;
}

/* Placeholder support for contenteditable */
[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block;

    font-style: italic;
}

.inline {
    display: inline-block;
}

.hidden {
    display: none;
}

.preserve-ws {
    white-space: pre-wrap; 
}
