#pane-left {
    height: 100vh;
    width: 20vw;

    position: absolute;
    top: 0;
    left: 0;
}

#pane-code {
    height: 100vh;
    width: 80vw;

    position: absolute;
    top: 0;
    left: 20vw;
}

#panel-files {
    height: 60%;
    width: 100%;
}
