{% extends "header.html" %}

{% block head %}
    <title>Project typer</title>

    <script src="js/page/project.js"></script>
    <link rel="stylesheet" href="css/page/project.css" />
{% endblock %}

{% block body %}
    <!-- Left panel -->
    <div id="pane-left">
        <!-- Files -->
        <div id="panel-files">
            <table id="filetree" class="table table-striped">
                <thead>
                    <tr><td>Files: </td></tr>
                </thead>

                <tbody>
                    <tr><td>Root</td></tr>
                </tbody>
            </table>
        </div>

        <!-- Commit data -->
        <div>
            <table class="table table-striped" id="commit-data">
                <tr>
                    <td>commit</td>
                    <td id="commit-hash"></td>
                </tr>

                <tr>
                    <td>Author: </td>
                    <td id="commit-author"></td>
                </tr>

                <tr>
                    <td>Message: </td>
                    <td></td>
                </tr>

                <tr>
                    <td colspan="2" class="preserve-ws" id="commit-message">
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Content panel -->
    <div id="pane-code">
        <!-- Current file indicator -->
        <div style="width: 100%;">
            <span class="btn btn-xs btn-default">
                Current file
            </span>
        </div>

        <!-- Code -->
        <div>
            Code, yo
        </div>
    </div>

    <!-- Startup modal to select repo -->
    <div class="modal fade" tabindex="-1" role="dialog" id="startup-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">difftyper startup</h4>
                </div>

                <div class="modal-body">
                    <div class="input-group">
                        <span class="input-group-addon">Repository: </span>
                        <input class="form-control" type="text" id="repo-path" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" id="repo-load">Load</button>
                        </span>
                    </div>

                    <br/>

                    <div class="progress hidden" id="commit-progress">
                        <div class="progress-bar" role="progressbar"
                             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                             style="width: 60%;">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
