{% extends "base.html" %}

{% block title %}tree{% endblock %}

{% block scripts %}
    <script src="js/typer.js"></script>
    <script src="js/tree.js"></script>
    <script src="js/page/tree.js"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <table id="tree" class="table table-striped">
                <thead>
                    <tr><td>Files: </td></tr>
                </thead>

                <tbody>
                    <tr><td>Root</td></tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            <input id="entry" type="text" class="form-control" placeholder="Path" />
            <br/>

            <button class="btn btn-primary" id="add-entry">Add entry</button>
            <button class="btn btn-default" id="remove-entry">Remove entry</button>
            <br/>

            <span id="response"></span>
        </div>
    </div>
{% endblock %}
