{% extends "base.html" %}

{% block title %}type{% endblock %}

{% block scripts %}
    <script src="js/typer.js"></script>
    <script src="js/page/type.js"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <span id="status">Code: </span>
            <pre id="code" class="prettyprint"> </pre>

            Operations:
            <table id="operations" class="table table-striped">
                <thead>
                    <tr>
                        <td>Type</td>
                        <td>Value (optional)</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div class="col-md-6">
            Diffs:
            <div class="well diff wrapper">
                <textarea placeholder="Paste your diffs here"
                          class="transparent fill diff input" id="frame"></textarea>
            </div>

            <div class="inline hidden" id="start-tools">
                <button class="btn btn-default typer add" data-source="#frame">Add frame</button>
                <button class="btn btn-primary typer run">Run</button>
            </div>
            <div class="inline hidden" id="stop-tools">
                <button class="btn btn-default typer pause">Pause</button>
                <button class="btn btn-primary typer stop">Stop</button>
            </div>
        </div>
    </div>
{% endblock %}
